<form [formGroup] = "PaymentForm" (ngSubmit) = "onSubmit()">
    <div class= "form-group">
        <label for = "CreditCardNumber">Credit Card Number
            <input id = "CreditCardNumber"type = "text" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label for = "ExpirationDate">Expiration Date
            <input id = "ExpirationDate"type = "text" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label for = "CVVCode">CVV Code
            <input id = "CVVCode"type = "text" class="form-control">
        </label>
    </div>

<!-- Total Amount of payment -->
    
    <button routerLink="/summary" class="button" type="submit">Submit</button>
    
</form>
