<form #form="ngForm">
    <div *ngFor="let data of paymentdata">
        Credit Card Number
        <input id = "CreditCardNumber"type = "text" name="data-{{data.id}}" [(ngModel)]="data.creditcardnumber" class="form-control">
        
    </div>

    <div *ngFor="let data of paymentdata">
        Expiration Date
        <input id = "ExpirationDate"type = "text" name="data-{{data.id}}" [(ngModel)]="data.expirationdate"class="form-control">
        
    </div>

    <div *ngFor="let data of paymentdata">
        CVV Code
        <input id = "CVVCode"type = "text" name="data-{{data.id}}" [(ngModel)]="data.CVVcode"class="form-control">
    </div>


    
    <button routerLink="/summary" class="button" (click)="submit()">Submit</button>
    
</form>
<!-- Have to list total amount of payment -->
<!-- How to calculate -->
<div *ngFor="let product of products">
    <p>Total : {{ product.price * product.quantity}}</p>
</div>

