<h2>Shipping Info</h2>
<form #form="ngForm">
    <div *ngFor="let data of shippingdata">
        Name
        <input id = "Name"  type = "text" name="data-{{data.id}}" [(ngModel)]="data.name" class="form-control"> 
    </div>

    <div *ngFor="let data of shippingdata">
        Address
        <input id = "Address"type = "text" name="data-{{data.id}}" [(ngModel)]="data.address" class="form-control">
        
    </div>

    <div *ngFor="let data of shippingdata">
        City
        <input id = "City"type = "text" name="data-{{data.id}}" [(ngModel)]="data.city"class="form-control">
    </div>

    <div *ngFor="let data of shippingdata">
        State
        <input id = "State"type = "text" name="data-{{data.id}}" [(ngModel)]="data.state"class="form-control">
    </div>

    <div *ngFor="let data of shippingdata">
        Zip Code
        <input id = "Zip Code" type = "text" name="data-{{data.id}}" [(ngModel)]="data.zip"class="form-control">
    </div>

    <button routerLink="/payment" class="button" (click)="submit()">Purchase</button>
    
</form>
